* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    color: rgb(245, 220, 108);
    margin-bottom: 50px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100vh;
}

.leftBar {
    background-color: rgb(61, 61, 61);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 50px;
}

#addProj {
    background-color: rgba(250, 206, 125, 0);
    border: none;
    font-size: medium;
    color: darkgray;
}

#addProj:hover , .project:hover, .addTask:hover, .removeBtn:hover, .removeTask:hover  {
    cursor:pointer;
}

.project {
    background-color: rgb(131, 131, 131);
    color: whitesmoke;
    border-radius: 5px;
    border: none;
    font-size: large;
    box-sizing: border-box;
    padding: 5px;
    flex: 3;
}

#active {
    background-color: rgb(245, 220, 108);
    color: rgb(34, 34, 34);
}

.desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 50px 20px;
}

.addTask {
    width: 200px;
    height: 70px;
    border: dashed gray;
    border-radius: 10px;
    color: rgb(78, 78, 78);
    background-color: rgba(199, 199, 199, 0.199);
    font-size: larger;
    box-sizing: border-box;
    margin-top: 0;
}

.task {
    width: 900px;
    height: 80px;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    border: solid rgb(61, 61, 61);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.projContainer {
    margin-bottom:10px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-content: center;
    margin-right: -10px;
}

.removeBtn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: darkgray;
    width: 20px;
}

.removeTask {
    background: none;
    width: 30px;
    height:30px;
    border: none;
}

#highPriority {
    background-color: rgb(255, 216, 44);
}

#mediumPriority {
    background-color: rgb(252, 230, 134);
}

#lowPriority {
    background-color: rgb(252, 244, 211);
}

#projectDialog {
    background-color:  rgb(245, 220, 108);
    box-sizing: border-box;
    padding: 20px;

}

#projectForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projectName {
   width:100%;
}

#editDialog, #taskDialog {
    background-color:  rgb(245, 220, 108);
    box-sizing: border-box;
    padding: 20px;

}

#taskForm, #taskEditForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title, #edit-title {
    width: 100%;
}